.ImageSection{
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;
    .img{
        width: 100%;
        height: 50vh;
        img{
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }

    .about-info{
        margin-left: 2rem;
        h4{
            font-size: 2rem;
        }
        .about-text{
            padding: 1rem 0;
        }
    }
}

.about-details{
    display: flex;
    p{
        padding: 0.3rem 0;
    }
    .right-section{
        margin-left: 2.3rem;
    }
}

.btn{
    padding: 0.7rem 1.5rem;
    background-color: #037fff;
    outline: none;
    border: none;
    border-radius: 6px;
    font-family: inherit;
    font-size: inherit;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    margin-top: 1rem;
    position: relative;
    &::after{
        position: absolute;
        content: "";
        width: 0;
        height: .3rem;
        left: 0;
        bottom: 0;
        background-color: #a4acc4;;
        transition: all 0.4s ease-in-out;
    }
    &:hover::after{
        width: 100%;
    }
    a{
        text-decoration: none;
        color: #fff;
    }
}