.App{
    .side-bar{
        width: 16%;
        height: 100vh;
        background-color: #191d2b;
        position: fixed;
        border-right: 2px solid #2e344e;
    }

    .main-content{
        width: 84%;
        margin-left: 16%;
        background-color: #10121b;
        min-height: 100vh;
        background-image: url('../images/dots.svg');
        display: grid;
        position: relative;
        
        .content{
            margin: 5rem 10rem;
        }
    }
}