.ProjectsPage {
    overflow-x: hidden;
}

.projects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 1rem;

    @media screen and (max-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
    }

    .project {
        border: 1px #0381ff50 solid;
        padding: 5px;

        .image-data {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                height: calc(100% - 5px);
                width: 100%;
                background-color: #51769b71;
                transform-origin: center;
                transform: scale(0);
                transition: all 0.4s ease-in-out 0.2s;
                opacity: 0.8;
            }

            &:hover::before {
                transform: scale(1);
            }

            img {
                width: 100%;
                height: 30vh;
                object-fit: cover;
            }

            .hover-items {
                list-style: none;
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%, -90%);
                padding: 1rem 2rem;

                &:hover {
                    .hover-items {
                        display: block;
                        top: 50%;
                        transition: all 0.5s ease-in-out 0.2s;
                    }
                }

                li {
                    display: flex;
                    justify-content: space-between;

                    a {
                        padding: 0 1rem;
                        text-decoration: none;
                        font-family: inherit;

                        &:hover {
                            color: #037fff;
                        }
                    }
                }
            }
        }

        h5 {
            font-size: 1.7rem;
            color: #fff;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: #037fff;
            }
        }
    }
}

/* Categories buttons */
.btn-port {
    padding: 0.6rem 2rem;
    background-color: #0381ff50;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    color: #fff;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;

    &:not(:last-child) {
        margin-right: 1rem;
    }

    &:hover {
        background-color: #037fff;
    }

    &:focus {
        background-color: #037fff;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-width: 1270px) {
        margin: 2rem 5rem;
    }

    @media screen and (max-width: 1270px) {
        margin: 2rem 2rem;
    }
}