.App .side-bar {
  width: 16%;
  height: 100vh;
  background-color: #191d2b;
  position: fixed;
  border-right: 2px solid #2e344e;
}

.App .main-content {
  width: 84%;
  margin-left: 16%;
  background-color: #10121b;
  min-height: 100vh;
  background-image: url("../images/dots.svg");
  display: -ms-grid;
  display: grid;
  position: relative;
}

.App .main-content .content {
  margin: 5rem 10rem;
}

.ImageSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.ImageSection .img {
  width: 100%;
  height: 50vh;
}

.ImageSection .img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.ImageSection .about-info {
  margin-left: 2rem;
}

.ImageSection .about-info h4 {
  font-size: 2rem;
}

.ImageSection .about-info .about-text {
  padding: 1rem 0;
}

.about-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-details p {
  padding: 0.3rem 0;
}

.about-details .right-section {
  margin-left: 2.3rem;
}

.btn {
  padding: 0.7rem 1.5rem;
  background-color: #037fff;
  outline: none;
  border: none;
  border-radius: 6px;
  font-family: inherit;
  font-size: inherit;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
  margin-top: 1rem;
  position: relative;
}

.btn::after {
  position: absolute;
  content: "";
  width: 0;
  height: .3rem;
  left: 0;
  bottom: 0;
  background-color: #a4acc4;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn:hover::after {
  width: 100%;
}

.btn a {
  text-decoration: none;
  color: #fff;
}

.skill-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

ul li {
  list-style-type: none;
  padding: 1rem 2rem;
}

h3 {
  color: #fff;
}

.icons:hover {
  cursor: pointer;
  color: #037fff;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.ServicesSection .service {
  width: 95%;
  background-color: #191d2b;
  border-left: 1px solid #2e344e;
  border-right: 1px solid #2e344e;
  border-bottom: 1px solid #2e344e;
  border-top: 8px solid #2e344e;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.ServicesSection .service:hover {
  border-top: 8px solid #037FFF;
}

.ServicesSection .service .service-content {
  padding: 1rem;
}

.ServicesSection .service .service-content .s-title {
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
  padding-bottom: 1rem;
  margin: 1rem 0;
}

.ServicesSection .service .service-content .s-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 1px;
  background-color: #2e344e;
}

.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4rem;
}

.Homepage {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
}

.Homepage .hero p {
  text-align: center;
}

.Homepage .hero p a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.hero-heading {
  color: #fff;
  text-align: center;
  font-size: 3.6rem;
}

.hero-heading span {
  color: #037fff;
}

.Navbar {
  height: 100vh;
}

.Navbar .links {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Navbar .links .profile {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  border-bottom: 1px solid #2e344e;
}

.Navbar .links .profile img {
  width: 70%;
  border-radius: 100%;
  border: 5px solid #2e344e;
  margin-bottom: 1rem;
}

.Navbar .links .nav-items {
  width: 100%;
}

.Navbar .links .nav-items .nav-item {
  list-style-type: none;
  text-align: center;
}

.Navbar .links .nav-items .nav-item a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  display: block;
  padding: 0.7rem 0;
  position: relative;
}

.Navbar .links .nav-items .nav-item a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: .4rem;
  height: 100%;
  background-color: #0381ff33;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scale(0);
          transform: scale(0);
  overflow-x: hidden;
  -webkit-transition: 0.2s width 0.5s cubic-bezier(1, -0.16, 0.6, 1.35), -webkit-transform 0.6s;
  transition: 0.2s width 0.5s cubic-bezier(1, -0.16, 0.6, 1.35), -webkit-transform 0.6s;
  transition: transform 0.6s, 0.2s width 0.5s cubic-bezier(1, -0.16, 0.6, 1.35);
  transition: transform 0.6s, 0.2s width 0.5s cubic-bezier(1, -0.16, 0.6, 1.35), -webkit-transform 0.6s;
}

.Navbar .links .nav-items .nav-item a:hover::before {
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.Navbar .links .footer {
  width: 100%;
  border-top: 1px solid #2e344e;
}

.Navbar .links .footer p {
  text-align: center;
  padding: 1rem 0;
}

.active {
  background-color: #037fff;
}

.Title {
  text-transform: uppercase;
  font-size: 2rem;
  color: #fff;
  position: relative;
  padding-bottom: 1rem;
  letter-spacing: 3px;
}

.Title::before {
  content: "";
  bottom: 0;
  position: absolute;
  left: 0;
  background-color: #0381ff36;
  width: 3rem;
  height: 0.4rem;
  border-radius: 50px;
}

.Title::after {
  content: "";
  bottom: 0;
  position: absolute;
  left: 0;
  background-color: #037fff;
  width: 6rem;
  height: 0.4rem;
}

.Title span {
  position: absolute;
  top: 15%;
  left: 0;
  font-size: 5.5rem;
  opacity: 0.07;
}

.projects {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.projects .project .image-data {
  position: relative;
}

.projects .project .image-data::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: calc(100% - 5px);
  width: 100%;
  background-color: #51769b71;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out 0.2s;
  transition: all 0.4s ease-in-out 0.2s;
  opacity: 0.8;
}

.projects .project .image-data:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.projects .project .image-data img {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects .project .image-data .hover-items {
  list-style: none;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
  padding: 1rem 2rem;
}

.projects .project .image-data .hover-items:hover .hover-items {
  display: block;
  top: 50%;
  -webkit-transition: all 0.5s ease-in-out 0.2s;
  transition: all 0.5s ease-in-out 0.2s;
}

.projects .project .image-data .hover-items li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects .project .image-data .hover-items li a {
  padding: 0 1rem;
  text-decoration: none;
}

.projects .project .image-data .hover-items li a:hover {
  color: #037fff;
}

.projects .project h5 {
  font-size: 1.7rem;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.projects .project h5:hover {
  color: #037fff;
}

.ContactItem {
  width: 100%;
}

.ContactItem:not(:last-child) {
  margin-bottom: 1rem;
}

.ContactItem .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #191d2b;
  padding: 3rem 0;
}

.ContactItem .contact .right-items {
  margin-left: 2rem;
}

.ContactItem .contact img {
  padding: 1rem;
  border: 1px solid #037fff;
  margin-left: 2rem;
  width: 16%;
}

.ContactItem .contact .right-items h6 {
  font-size: 1.4rem;
  font-weight: 500;
}

.ContactPage {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-bottom: 6rem;
}

.ContactPage .contact-sect {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map-sect {
  width: 97%;
  padding: 2rem;
  background-color: #191d2b;
}

.map-sect iframe {
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 4rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #037fff;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  padding: 0 2rem;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover {
  cursor: pointer;
}

.Title {
  margin-bottom: 4rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #037fff;
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  background-color: #2e344e;
}

html, body {
  scrollbar-color: #037fff #2e344e;
}

body {
  color: #a4acc4;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.2rem;
}

span {
  color: #037fff;
}
/*# sourceMappingURL=App.css.map */