@import './styles/layout';
@import './styles/about';
@import './styles/skills';
@import './styles/services';
@import './styles/typography';
@import './styles/navbar';
@import './styles/title';
@import './styles/projects';
@import './styles/contact';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-thumb{
    background-color: #037fff;
    border-radius: 50px;
}
body::-webkit-scrollbar-track{
    background-color: #2e344e;
}

html,body{
    scrollbar-color: #037fff #2e344e;
}
body{
    color: #a4acc4;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.2rem;
}

span{
    color: #037fff;
}